<form
  class="form grid md:grid-cols-2 gap-4"
  data-action="https://formsubmit.co/ajax/"
  data-email="contact@mitorun.studio"
  data-timeout="8000">
  <input type="hidden" name="_subject" value="Новое сообщение с сайта..." />
  <input type="hidden" name="_template" value="table" />
  <input type="text" name="_honey" style="display:none" />
  <input type="text" name="name" placeholder="Имя" required />
  <input type="email" name="email" placeholder="Email" required />
  <input
    class="md:col-span-2"
    type="text"
    name="subject"
    placeholder="Тема"
    required
  />
  <textarea
    class="md:col-span-2"
    rows="5"
    name="message"
    placeholder="Сообщение"
    required></textarea>
  <button class="text-white bg-blue-600 py-2" type="submit">Отправить</button>
</form>

<script src="../assets/js/formsubmit.js"></script>